<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="storagePath" value="storagePath.json"/>
    <add key="processorPath" value="processorPath.json"/>
    <add key="xmlStoragePath" value="storagePath.xml"/>
    <add key="xmlProcessorPath" value="processorPath.xml" />
    <add key="ADOConnection" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ObservationCenter;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </appSettings>
</configuration>
